body {
    height: 100vh !important;
    background-image: url(../../images/background-2.png);
    // background-image: url(../../images/image.png);
    background-repeat: no-repeat;
    background-position: auto;
    background-size: cover;
}
.mains {
    filter: drop-shadow(4px 6px 4px #d8dfdf);
    background-image: url(../../images/currency-main-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 8%;
    height: 50vh;
    border-radius: 20px !important;
}
.form__control, .form__select, .form__resultbox {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #215eac;
    box-shadow: -2px 2px 3px 3px #4b98d4;
    outline: none;
}
.form__select {
    width: 25% !important;
}
.form__control::placeholder {
    color: white;
}
.form__resultbox {
    background-color: #00cbff !important;
}
.box {
    width: 80% !important;
}
.valyuta-usd, .valyuta-rubl, .valyuta-euro {
    font-weight: 600;
    font-size: 18px;
    color: #3F51B5;
}
.fa-solid {
    color: #424242;
}
.valyuta-tranlate {
    font-weight: 700;
    color: #424242 !important;
}

@media screen and (max-width: 768px) {
    .mains {
        margin-top: 20%;
        background-position: -60px;
    }
    .form__select  {
        width: 100% !important;
    }
}